@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2>Welcome</h2>
</div>

<div class="readout">
    You need to create a user and go to the Employee link. Make sure you use a complex password like P@ssword1.
    </div>